body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

#game-area {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 20px auto;
  border: 2px solid black;
}

input[type="checkbox"] {
  position: absolute;
  transform: scale(1.5);
  cursor: pointer;
}
